<div class="row">
    <div class="col-md-12">
        <h2>Agregar docente</h2>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf='postSuccess'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <strong>Agregado correctamente</strong>
        </div>
    </div>

    <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate="" (submit)='submitForm($event)'>
          <div class="row">
              <div class="col-md-2 mb-3">
                <label for="ID_docente">Docente ID</label>
                <input type="number" name="ID_docente" min="1" [(ngModel)]='docente.ID_docente' class="form-control">
              </div>
              <div class="col-md-2 mb-3">
                <label for="edad">Edad</label>
                <input type="number" name="edad" min="1" [(ngModel)]='docente.edad' class="form-control">
              </div>
              <div class="col-md-8 mb-3">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" name="nacionalidad" [(ngModel)]='docente.nacionalidad' class="form-control">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 mb-3">
                <label for="ID_docente">Direccion completa</label>
                <input type="text" name="direccion" [(ngModel)]='docente.direccion' class="form-control">
              </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="asignatura">Asignatura</label>
              <select class="form-control" name="asignatura" [(ngModel)]='docente.asignatura'>
                <option *ngFor='let asignatura of asignaturas' value='{{asignatura.ID_asignatura}}'>{{asignatura.nombre}}</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="antiguedad">Antiguedad</label>
              <input type="number" name="antiguedad" [(ngModel)]='docente.antiguedad' class="form-control">
            </div>
            <div class="col-md-4 mb-3">
              <label for="puntaje">Puntaje</label>
              <input type="number" name="puntaje" [(ngModel)]='docente.puntaje' class="form-control">
            </div>
        </div>
          <hr class="mb-4">
          <button class="btn btn-danger btn-lg btn-block" type="submit">Agregar docente</button>
      </form>
    </div>
  </div>