<div class="row">
    <div class="col-md-12">
      <h2>Listado de docentes</h2>
    </div>
    
    <!--<table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID docente</th>
            <th scope="col">Todo UserID</th>
            <th scope="col">Title</th>
            <th scope="col">Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <th scope="row"></th>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
            <td>Vacio</td>
          </tr>
        </tbody>
      </table>-->
  </div>